<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Student</title>
    <link rel="stylesheet" href="css/styleforminsert.css">
</head>
<body>
    <h1>Insert Student</h1>

   
    <form th:action="@{/save-student}" method="post" th:object="${student}">
        <div>
            <label for="firstname">Firstname:</label>
            <input type="text" id="firstname" name="firstname" th:field="*{firstname}">
        </div>
        <div>
            <label for="lastname">Lastname:</label>
            <input type="text" id="lastname" name="lastname" th:field="*{lastname}">
        </div>
        <div>
            <label for="cnie">CNIE:</label>
            <input type="text" id="cnie" name="cnie" th:field="*{cnie}">
        </div>
        <div>
            <label for="course">Course:</label>
            <input type="text" id="course" name="course" th:field="*{course}">
        </div>
        <button  type="submit">Insert</button>
    </form>

   
     <form th:action="@{/print}" method="get">
            <button type="submit">Retour</button>
        </form>
        <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

</body>
</html>
